<section class="footer">
  <div class="container footer_wrapper">
    <div class="footer_social_logo">
      <div class="div_footer_wraper_logo">
        <img src="../img/Logo.svg" class="footer_logo" alt="logo" />
        <p class="copyright_Food_Dash_footer">
          Food Dash ©2023 All Rights Reserved
        </p>
      </div>
      
  </div>
  <div>
      <div class="social_link_footer_menu">
        <img src="../img/Outline.svg" class="social_footer_menu" alt="instagram">
        <img src="../img/in.svg" class="social_footer_menu" alt="linkedin">
        <img src="../img/F.svg" class="social_footer_menu" alt="facebook">
        <img src="../img/twitter.svg" class="social_footer_menu" alt="twitter">
        <img src="../img/dribble.svg" class="social_footer_menu" alt="dribble">
      </div>
        <p class="social_text">By - Piyush Prajapat</p>
</div>
</section>
