<section class="footer">
  <div class="container">
    <div class="footer_wrapper">
      <div class="footer_social_logo">
        <div class="div_footer_wraper_logo">
          <img src="../img/Logo.svg" class="footer_logo" alt="logo" />
          <p class="copyright_Food_Dash_footer">
            Food Dash ©2023 <span class="span_all"> All Rights Reserved</span>
          </p>
          <p class="avtor_By_footer">By - Piyush Prajapat</p>
        </div>
        <div class="wraper_social_footer">
          <img
            src="../img/Follow_Us_On.png"
            class="follow_us_img"
            alt="Follow_Us_On"
          />
          <ul class="footer_social_list">
            <li class="footer_social_item">
              <a href="https://www.instagram.com/" class="footer_social_link"
                ><img
                  src="../img/Outline.svg"
                  class="footer_social_img"
                  alt="Outline"
              /></a>
            </li>
            <li class="footer_social_item">
              <a href="https://ua.linkedin.com/" class="footer_social_link"
                ><img src="../img/in.svg" class="footer_social_img" alt="in"
              /></a>
            </li>
            <li class="footer_social_item">
              <a href="https://www.facebook.com/" class="footer_social_link"
                ><img src="../img/F.svg" class="footer_social_img" alt="F"
              /></a>
            </li>
            <li class="footer_social_item">
              <a href="https://x.com/" class="footer_social_link"
                ><img
                  src="../img/twitter.svg"
                  class="footer_social_img"
                  alt="twitter"
              /></a>
            </li>
            <li class="footer_social_item">
              <a href="" class="footer_social_link"
                ><img
                  src="../img/telegram.svg"
                  class="footer_social_img telegram_img"
                  alt="telegram"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_menu_contact">
        <div class="wrapper_menu">
          <h3 class="footer_menu">Menu</h3>
          <ul class="footer_menu_list">
            <li class="footer_munu_item">
              <a href="#" class="footer_link_menu">Home</a>
            </li>
            <li class="footer_munu_item">
              <a href="#" class="footer_link_menu">Offers</a>
            </li>
            <li class="footer_munu_item">
              <a href="#" class="footer_link_menu">Service</a>
            </li>
            <li class="footer_munu_item">
              <a href="#" class="footer_link_menu">About Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_information_list">
        <h3 class="footer_information">Information</h3>
        <ul class="footer_information_item">
          <a href="#" class="footer_information_link">Menu</a>
        </ul>
        <ul class="footer_information_item">
          <a href="#" class="footer_information_link">Quality</a>
        </ul>
        <ul class="footer_information_item">
          <a href="#" class="footer_information_link">Make A Choice</a>
        </ul>
        <ul class="footer_information_item">
          <a href="#" class="footer_information_link">Fast Delivery</a>
        </ul>
      </div>
      <div class="footer_contact_list">
        <h3 class="footer_contact">Contact</h3>
        <ul class="footer_contact_item">
          <a href="tel:+123456789" class="footer_contact_link">+123456789</a>
        </ul>
        <ul class="footer_contact_item">
          <a href="#" class="footer_contact_link">Explore</a>
        </ul>
        <ul class="footer_contact_item">
          <a href="mailto:Info@Fooddash.com" class="footer_contact_link"
            >Info@Fooddash.com</a
          >
        </ul>
        <ul class="footer_contact_item">
          <a href="#" class="footer_contact_link">12, Maharashtra, Indian</a>
        </ul>
      </div>
    </div>
  </div>
</section>
