<header class="header">

  <a href="../index.html"><img class="logo_header" src="../img/Logo.svg" /></a>
  <ul class="menu_list">
    <li class="menu_item"><a class="menu_link" href="">Home</a></li>
    <li class="menu_item"><a class="menu_link" href="">Menu</a></li>
    <li class="menu_item"><a class="menu_link" href="">Offers</a></li>
    <li class="menu_item"><a class="menu_link" href="">Service</a></li>
    <li class="menu_item"><a class="menu_link" href="">About Us</a></li>
  </ul>
  <ul class="search_user">
    <li class="li_user_photo_header">
      <button>
        <img class="user_photo_header" src="../img/Vector.svg" alt="search" />
      </button>
    </li>
    <li>
      <img src="../img/user.png" alt="search" />
    </li>
  </ul>
</header>
