<header>
  <a href=""><img src="../img/Logo.svg" /></a>
  <ul class="menu_list">
    <li class="menu_item"><a class="menu_link" href="">Home</a></li>
    <li class="menu_item"><a class="menu_link" href="">Menu</a></li>
    <li class="menu_item"><a class="menu_link" href="">Offers</a></li>
    <li class="menu_item"><a class="menu_link" href="">Service</a></li>
    <li class="menu_item"><a class="menu_link" href="">About Us</a></li>
  </ul>
  <ul>
    <li>
      <button><img src="../img/Vector.svg" alt="search" /></button>
    </li>
    <li>
      <img src="../img/Ellipse 1.png" alt="search" />
    </li>
  </ul>
</header>
