<section class="homepage">
  <div class="wrapper_homepage">
    <h1 class="h_homepage tracking-in-expand">
      Quick <span class="mini_word_homepage">and</span> Tasty<br />
      Food Delivered <span class="mini_word_homepage">with</span> a Dash of
      <span class="mini_word_homepage">Speed</span>
    </h1>
    <div class="homepage_buttons">
    <button class="button_homepage shadow-inset-center">Order Now</button>
    <button class="button_homepage shadow-inset-center transparent_btn">Track Order</button>
    </div>
  </div>
  <img class="img_homepage rotate-center" src="../img/general_photo.png" alt="photo" />
</section>
