<section class="homepage">
  <div class="wrapper_homepage">
    <h1 class="h_homepage">
      Quick <span class="mini_word_homepage">and</span> Tasty<br />
      Food Delivered <span class="mini_word_homepage">with</span> a Dash of
      <span class="mini_word_homepage">Speed</span>
    </h1>
    <button class="button_homepage">Order Now</button>
    <button class="button_homepage transparent_btn">Track Order</button>
  </div>
  <img class="img_homepage" src="../img/general_photo.png" alt="photo" />
</section>
