<section class="login">
  <div class="login_div">
    <div class="login_div_img">
      <img src="../img/Rectangle 69.png" class="login_img" alt="photo" />
    </div>
    <div class="login_div_form">
      <img src="../img/Logo.svg" class="login_logo" alt="Logo" />
      <div class="login_wrapper">
        <h2 class="login_div_h2">Login to your account!</h2>
        <div class="login_div_button">
          <a href="https://www.google.com/" class="login_a">
            <img
              src="../img/Google-color.png"
              alt="Google"
              class="login_a_img"
            />
            Login with Google</a
          >
          <a href="https://www.facebook.com/" class="login_a">
            <img
              src="../img/Facebook-color.png"
              class="login_a_img"
              alt="Facebook"
            />
            Login with Facebook</a
          >
        </div>

        <form class="login_form">
          <p class="login_form_p">Email Addres</p>
          <label>
            <input
              type="text"
              placeholder="Youraddres@email.com"
              class="login_form_imput_email"
            />
          </label>
          <p class="login_form_p">Password</p>
          <label>
            <input
              type="password"
              placeholder="Enter your password"
              class="login_form_imput_email"
            />

          </label><br>
     
            <a href="/src/index.html" class="login_a_Continue">Login to Continue</a><br><br>
         

          <p class="singup_button">Don’t have an account ? <a href="">Sign up</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
