<section class="login">
  <img src="../img/Logo.svg" alt="Logo">
  <h2>Login to your account!</h2>
  <div>
  <a href=""> <img src="../img/Google-color.png" alt="Google"> Login with Google</a>
  <a href=""> <img src="../img/Facebook-color.png" alt="Facebook"> with Facebook</a>
  </div>
  
  <form>
    <p>Email Addres</p>
    <label>
      <input type="text" placeholder="Youraddres@email.com">
      </label>
      <p>Password</p>
      <label>
      <input type="password" placeholder="Enter your password">
      <a href="">Login to Continue</a>
      </label>
    
    <p>Don’t have an account ? <a href="">Sign up</a></p>
  </form>
</section>