<section class="mein_menu">
  <div class="div_mein_menu">
    <div class="text_div_mein_menu">
      <h2 class="h2_mein_menu">
        Our <span class="span_text_mein_menu">Regular</span> Menu
      </h2>
      <p class="p_mein_menu">
        There Are Our Regular Menus. You Can Order Anything You Like
      </p>
    </div>
    <div class="button_div_mein_menu">
      <a href="../menu_page.html" class="button_mein_menu">See All<a/>
    </div>
  </div>
  <div class="food_card">
    <ul id="ul_main_menu" class="ul_main_menu">
    </ul>
  </div>
</section>
