<section class="mein_menu">
  <div class="div_mein_menu">
    <div class="text_div_mein_menu">
      <h2 class="h2_mein_menu">
        Our <span class="span_h2_mein_menu">Regular</span> Menu
      </h2>
      <p class="p_mein_menu">
        There Are Our Regular Menus. You Can Order Anything You Like
      </p>
    </div>
    <div class="button_div_mein_menu">
      <a href="../menu_page.html" class="button_mein_menu">See All<a/>
    </div>
  </div>
  <div class="food_card">
    <ul>
      <li class="food_card_Angoori">
        <img
          src="../img/potato.png"
          class="img_potato_food_card"
          alt="potato_svg"
        />
        <div class="text_div_food_card">
          <p class="p_Angoori_food_card">
            <span class="span_p_Angoori_food_card">Indian Dessert</span> Angoori
            Rasmalai
          </p>
          <img
            src="../img/Star.png"
            class="star_png_food_card"
            alt="star_png"
          />
          <span class="span_food_card">(100)</span>
          <p class="prices_food_card_Angoori">₹250</p>
          <button class="button_food_card_Angoori">Buy Now</button>
        </div>
      </li>
    </ul>
  </div>
</section>
