<section class="mini">
  <ul class="ul_mini">
    <li>
      ><img
        src="../img/fast-delivery.svg"
        class="fast_delivery_mini_svg"
        alt="svg"
      />
      <h4 class="fast_delivery_mini">Fast Delivery</h4>
      <p class="promis_mini">Promise To Deliver Within 30 Mins</p>
    </li>
    <li>
      <img src="../img/fresh.svg" class="fresh_svg_mini" alt="svg" />
      <h4 class="fresh_mini">Fresh Food</h4>
      <p class="your_mini">
        Your Food Will Be Delivered 100% Fresh To Your Home.
      </p>
    </li>
    <li>
      <img src="../img/box.svg" class="box_svg_mini" alt="svg" />
      <h4 class="free_mini">Free Delivery</h4>
      <p class="order_mini">
        Your Food Delivery Is Absolutely Free. No Cost Just Order
      </p>
    </li>
  </ul>
</section>
