<section class="singup">
  <div class="singup_div">
    <div class="singup_div_img">
    </div>
    <div class="singup_div_form">
      <img src="../img/Logo.svg" class="singup_logo" alt="Logo" />
      <div class="singup_wrapper">
        <h2 class="singup_div_h2">Login to your account!</h2>
        <div class="singup_div_button">
          <a href="https://www.google.com/" class="singup_a">
            <img
              src="../img/Google-color.png"
              alt="Google"
              class="singup_a_img"
            />
            Login with Google</a
          >
          <a href="https://www.facebook.com/" class="singup_a">
            <img
              src="../img/Facebook-color.png"
              class="singup_a_img"
              alt="Facebook"
            />
            Login with Facebook</a
          >
        </div>

        <form class="singup_form">
          <p class="singup_form_p">Email Addres</p>
          <label>
            <input
              type="text"
              placeholder="Youraddres@email.com"
              class="singup_form_imput_email"
            />
          </label>
          <p class="singup_form_p">Password</p>
          <label>
            <input
              type="password"
              placeholder="Enter your password"
              class="singup_form_imput_email"
            /> </label
          ><br /><br />
          <div class="singup_div_a">
            <a href="/src/index.html" class="singup_a_Continue"
              >Login to Continue</a>

            <p class="singup_singup_p">
              Don’t have an account ? <a href="" class="singup_singup_a">Sign up</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
