.ul_advertising_banner {
  background-color: #ffefe6;
  display: flex;
  justify-content: space-evenly;
}

.ul_advertising_banner {
  display: flex;
  
}

/* .banner_item: {
  margin-left: -100px;
} */

.p_Rajasthan_advertising_banner {
  color: #1a2716;
  font-family: Lexend;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100px;
}
.img_star_advertising_banner {
  display: flex;
  justify-content: space-evenly;
  margin: -30px;
}

/* li:first-child img.img_star_advertising_banner {
  
  left: 377px;
  bottom: -718px;
}

li:nth-child(2) img.img_star_advertising_banner {
  position: absolute;
  left: 745px;
  bottom: -718px;
}

li:nth-child(3) img.img_star_advertising_banner {
  position: absolute;
  left: 1050px;
  bottom: -718px;
}

li:nth-child(4) img.img_star_advertising_banner {
  position: absolute;
  left: 1410px;
  bottom: -718px;
} */

.p_Rajasthan_advertising_banner::after {
  position: relative;
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  background-image: url('../img/Star.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: -75px;
  left: 200px;
}

.p_Rajasthan_advertising_banner:nth-child(1)::after {
  content: '';
  display: block;
  position: relative;
  left: 170px;
}
.p_Rajasthan_advertising_banner:nth-child(2)::after {
  content: '';
  display: block;
  position: relative;
  right: 200px;
}
@media (max-width:425px) {
  .ul_advertising_banner {
    display: flex;
    flex-direction: column;
  }
  .banner_item {
    margin-left: 100px;
  }
  .p_Rajasthan_advertising_banner:nth-child(1)::after {
  content: '';
  left: 210px;
}
}
