.footer {
  background-color: #ffefe6;
  border-top: 2px dashed #ff6000;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.footer_wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
}

.footer_logo {
  margin-bottom: 30px;
}

.copyright_Food_Dash_footer {
  margin-bottom: 30px;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #939393;
}

.avtor_By_footer {
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #939393;
}

.wraper_social_footer {
  margin-top: 36px;
}

.footer_social_list {
  display: flex;
  margin-top: 35px;
}

.telegram_img {
  width: 24px;
}

.footer_social_item {
  margin-left: 16px;
}
.div_footer_wraper_logo {
  width: 375px;
}
.footer_menu {
  font-family: Lexend;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ff6000;
}
.footer_munu_item {
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #939393;
  margin-top: 32px;
}


.footer_information {
  font-family: Lexend;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ff6000;
}

.footer_information_item {
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #939393;
  margin-top: 32px;
}

.footer_contact {
  font-family: Lexend;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ff6000;
}

.footer_contact_item {
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #939393;
  margin-top: 32px;
}

.footer_menu_contact {
  width: 100px;
}

.footer_information_list {
  width: 222px;
}



@media (max-width:1024px) {
  .footer_wrapper {
    width: 702px;
  display: flex;
 margin: 0 auto;
  flex-wrap: wrap;
  /* justify-content: center; */
  border: 1px solid blue;
  

}

.footer_social_logo {
  border: 1PX solid green;
  width: 200PX;
}
.footer_menu_contact {
 border: 1PX solid green;
  width: 200PX;
}
.footer_information_list{
  border: 1PX solid green;
   width: 200PX;
   margin-left: 100px;
}
.footer_contact_list {
 border: 1PX solid green;
  width: 200PX;
}
.span_all{
  display: none;
}

}
@media (max-width:425px) {
  .footer_wrapper {
    width: 200px;
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  border: 1px solid blue;
  

}
.container {
        width: 425px;
        border: 2px solid red;
    }

.footer_social_logo {
  border: 1PX solid green;
  width: 200PX;
}
.footer_menu_contact {
 border: 1PX solid green;
  width: 200PX;
  margin-left: 50px;
}
.footer_information_list{
  border: 1PX solid green;
   width: 200PX;
   margin-left: 0px;
}
.footer_contact_list {
 border: 1PX solid green;
  width: 200PX;
}
.span_all{
  display: none;
}

}