.mini {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  margin: -80px auto 0;
  position: relative;
  z-index: 10;
  width: 80%;
  height: 180px;
}

.ul_mini {
  display: flex;
  justify-content: space-between;
}

.fast_delivery_mini_svg {
  margin-top: -10px;
  width: 100px;
  height: 100px;
}

.promis_mini {
  margin-left: 120px;
  margin-top: 15px;
  color: #939393;
  width: 150px;
}

.fast_delivery_mini {
  margin-left: 120px;
  margin-top: -90px;
  font-size: 33px;
}

.fresh_svg_mini {
  margin-top: 4px;
  width: 90px;
  height: 90px;
}

.fresh_mini {
  margin-left: 120px;
  margin-top: -90px;
  font-size: 33px;
}

.your_mini {
  margin-left: 120px;
  margin-top: 15px;
  color: #939393;
  width: 220px;
}

.box_svg_mini {
  margin-top: 4px;
  width: 90px;
  height: 90px;
}

.free_mini {
  margin-left: 100px;
  margin-top: -90px;
  font-size: 33px;
}

.order_mini {
  margin-left: 100px;
  margin-top: 15px;
  color: #939393;
  width: 220px;
}

@media (max-width: 1024px) {
  .fast_delivery_mini_svg {
  margin-top: -30px;
  margin-left: -20px;
  width: 70px;
  height: 70px; 
}

.ul_mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
}

.fast_delivery_mini {
  margin-left: 80px;
  margin-top: -90px;
  font-size: 22px;
}
.promis_mini {
  margin-left: 80px;
  margin-top: 15px;
  color: #939393;
  width: 150px;
}

.fresh_svg_mini {
  margin-top: 4px;
  width: 70px;
  height: 70px;
}

.fresh_mini {
  margin-left: 100px;
  margin-top: -100px;
  font-size: 22px;
}
.your_mini {
  margin-left: 100px;
  margin-top: 10px;
  color: #939393;
  width: 200px;
}

.box_svg_mini {
  margin-top: 4px;
  width:70px;
  height: 70px;
}


.free_mini {
  margin-left: 80px;
  margin-top: -100px;
  font-size: 22px;
}


.order_mini {
  margin-left: 80px;
  margin-top: 15px;
  color: #939393;
  width: 180px;
}

.li_column {
  display: flex;
  flex-direction: column;
  width: 222px;
  height: 100px;
  margin-top: 25px;
 
}

}
@media (max-width: 425px) {
  .ul_mini {
    display: flex;
    gap: 33px !important;
    flex-direction: column;

  }
  .li_column {
    height: auto;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .ul_mini {
    gap: 12px;
  }
}