.promo_banners {
   display: flex;
  width: 1240px;
  margin: 0 auto;
  gap: 26px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.div_promo_banners {
  display: flex;
  gap: 26px;
  margin:  0 auto;
}

.ul_promo_banners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

@media (max-width:1024px) {
.div_promo_banners {
   width: 700px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0 auto;

}
.promo_banners {
   width: 1024px;

}
.photo_1 {
  width: 680px;

  justify-content: center;
}
.ul_promo_banners {
  gap: 10px;
}
}
@media (max-width:768px) {
.div_promo_banners {
   width: 640px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.promo_banners {
   width: 725px;

}
.photo_1 {
  width: 680px;

  justify-content: center;
}
}
@media (max-width:425px) {
.div_promo_banners {
   width: 340px;
  display: flex;
  flex-direction: column;
  gap: 26px;

}
.promo_banners {
   width: 395px;

}
.photo_1 {
  width: 420px;

  justify-content: center;
}
}