.promo_banners {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 26px;

  margin-top: 60px;
  margin-bottom: 60px;
}

.ul_promo_banners {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (width:1024px) {
.div_promo_banners {
   width: 700px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0 auto;
  border: 5px solid blue;
}
.promo_banners {
   width: 1024px;

}
.photo_1 {
  width: 680px;

  justify-content: center;
}
}
